<html>
    <head>
        <link rel="stylesheet" type="text/css" href="index.css">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    
    <body>
        <div class="row">
            <div class="column side">
              <h2 class="heading">TEST YOUR Mobile Application</h2>
              <p></p>
            </div>
            

            <div class="column middle">
                <form action=''>
                    <h2>Choose Your App</h2>
                    <select id="applications"> </select> 

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet pretium urna. Vivamus venenatis velit nec neque ultricies, eget elementum magna tristique. Quisque vehicula, risus eget aliquam placerat, purus leo tincidunt eros, eget luctus quam orci in velit. Praesent scelerisque tortor sed accumsan convallis.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet pretium urna. Vivamus venenatis velit nec neque ultricies, eget elementum magna tristique. Quisque vehicula, risus eget aliquam placerat, purus leo tincidunt eros, eget luctus quam orci in velit. Praesent scelerisque tortor sed accumsan convallis.</p>  
                </form>

            </div>
            
            
          </div>
            
          </body>

        <script src="index.js"></script>
    </body>
</html>

  