appdirs==1.4.4
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
google-speech==1.1.0
gTTS==2.2.1
idna==2.10
numpy==1.19.4
pandas==1.1.4
playsound==1.2.2
PyAudio==0.2.11
python-dateutil==2.8.1
pytz==2020.4
requests==2.24.0
six==1.15.0
urllib3==1.25.11
web-cache==1.1.0
